{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "express-starter.serviceAccountName" . }}
  labels:
{{ include "express-starter.labels" . | nindent 4 }}
{{- end -}}
